/*
 * Layout
 */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $gray-darker;
}
a{
//    color: $light-lighter;
}

.align {
    display: table;
    &__middle {
        display: table-cell;
        vertical-align: middle;
        float: inherit;
        &--lg {
            @media (max-width: $screen-xs-max) {
                display: inherit;
                float: left;
            }
        }
    }
}



//EQUAL HEIGHTS



/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
    
     @media (max-width: $screen-sm-max) {
            display: inherit;
        }
}




//BACK TO TOP
          
      
/* Back to top button style */

// styling the container of the button
.to-top  {
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  right: 0px;
  display: none;
}
  // styling the button
  
a.back-to-top{
    text-decoration: none;
    display: block;
    text-align: center;
    color: $light-lighter;
    font-size: 2em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: $brand-secondary;
    opacity: 0.7;
    transition: 0.3s;
    
        &:hover{
            opacity: 1;}

}


//
//#logo {
//  float: left;
//  background-color: green;
//  padding: 10px;
//  position: relative;
//}
//
///* from: http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
//#logo a span { 
//  position:absolute; 
//  width:100%;
//  height:100%;
//  top:0;
//  left: 0;
//
//  /* edit: added z-index */
//  z-index: 1;
//
//  /* edit: fixes overlap error in IE7/8, 
//     make sure you have an empty gif */
//  background-image: url('empty.gif');
//}
//
//#logo:hover {
//	background-color: #0A0;  
//}
//
//#logo:active {
//	background-color: #A9A;
//  top: +2px;
//}
//
