$icon-font-path: '../fonts/';
/*
* Styling
*/
// Variables
@import "variables/colors";
@import "variables/components";
@import "variables/fonts";
@import "variables/paths";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
/*
* MIXINS
*/

//@import "mixins/mixins";





// General
@import "general/layout";

// Components
@import "components/components";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
