//.language {
//    display: table-cell;
//    vertical-align: middle;
//    padding-right: 25px;
//    &__picker {
//        background-color: transparent;
//        border: 0;
//        color: #ffffff;
////        option{
////           margin: 40px;
////    background: rgba(0, 0, 0, 0.3);
////    color: #fff;
////    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
////        }
//    }
//}
//
.language {
    display: table-cell;
    vertical-align: middle;
    padding-right: 45px;
}

//TEST NR 2
div.selectBox {
    position: relative;
    display: inline-block;
    cursor: default;
    line-height: 30px;
    clear: both;
    color: rgb(114, 97, 97);
    .selected {
        color: $light-lighter;
        width: 100px;
        //    overflow: hidden;
    }
    .selectArrow {
        width: 30px;
        text-align: center;
        font-size: 12px;
        color: #fff;
    }
    .selectArrow, .selected {
        position: relative;
        float: left;
        height: 30px;
        z-index: 1;
    }
    ul.selectOptions {
        position: absolute;
        top: 28px;
        left: 0;
        width: 130px;
        //    padding: 0 30px;
        border: 0;
        overflow: hidden;
        background: $light-lighter;
        display: none;
        list-style: none inside none;
        padding-left: 0;
        li.selectOption {
            display: block;
            padding: 5px 0 5px 10px;
            font-size: 12px;
            font-weight: bold;
            list-style: none;
            &:hover {
                color: $light-lighter;
                background: $brand-secondary;
            }
        }
    }
}