<nav class="navbar navbar-default navbar-fixed-top">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Project name</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#one">Default</a></li>
                                        <li class="active"><a href="#two">Static top <span class="sr-only">(current)</span></a></li>
                                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                                    </ul>
                                </div>
                                <!--/.nav-collapse -->
                            </div>
                        </nav>
