    /*
 * heros
 */
    
    .firm {
        background-color: $brand-secondary;
        width: 100%;
        position: relative;
        margin-top: $spacing-top-structure;
        z-index: 20;
        padding: 50px 0;
    }
    
    .info {
//        background-color: $gray-base;
        padding: 60px 0 100px 0;
//        margin-top: $spacing-top-structure;
    }
    
    .hero {
        /* The image used */
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        &--sfeer1 {
            background-image: url(./../images/sfeer1.jpg);
            text-align: center;
            min-height: 200px;
            display: table;
            width: 100%;
            background-position: top;
            margin-top: $spacing-top-structure;
//            padding-top: 50px;
        }
        &--sfeer2 {
            background-image: url(./../images/sfeer2.jpg);
            background-position: center;
        }
        &__sluimer {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
            min-height: 200px;
            display: table;
            width: 100%;
            &__position {
                display: table-cell;
                vertical-align: middle;
                &--middle {
                    vertical-align: middle;
                }
            }
            &--sfeer1 {
                background: rgba(0, 0, 0, 0.6);
//                padding-top: 50px;
                padding:100px 50px 50px 50px;
            }
            &--sfeer2 {
                background-color: rgba(0, 0, 0, 0.6);
                padding: 60px 0 60px 0;
            }
        }
        img {
            margin: 0 auto;
        }
    }
    
    .jobs {
        background-color: $gray-base;
        padding: 60px 0 100px 0;
    }

.testimonial{
    background-color: $gray-base;
         padding: 30px 0;
}
.contact{
    height: 300px;
//    padding: 60px ;
//    width: 100%;
//    background: url(../../../images/maps.png) no-repeat;
//    background-size: cover;
//    background-position: center;
        
}

.cinfo{
    padding: 30px 0 10px 0;
    background-color: $gray-base;
}

footer{
    padding: 15px;
    text-align: center;
    color:$light-lighter;
    background-color: $brand-secondary--darker;
    font-weight: 600;
}