/*
* Cover
*/

.cover {
    background: url(./../images/header.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    &__inner {
        min-height: 600px;
        position: relative;
    }
    & &__inner {
        background: rgba(0, 0, 0, 0.6) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        &__container {
//            position: absolute;
//            top: 50%;
//            height: 10em;
//            margin-top: -5em;
            width: 100%;
        }
    }
}