/*
* Curved BG
*/

.curved {
    position: relative;
    z-index: 10;
    height: 100px;
    background-color: $brand-secondary;
    width: 100%;
    border-radius: 100%;
         
    &--up {
        border-radius: 100%;
        margin-top: $spacing-top-structure;
        @media (max-width: $screen-xs-max) {
                   border-radius: 30%
                }
    }
    
}

