/*
* Links
*/

.link {
    text-decoration: underline;
    color: $light-lighter;
    &__bold {
        font-weight: 500;
    }
}

.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}