

.thumbnail{
    padding: 25px 25px 65px 25px;
    margin-top:30px;
    &--center{
        text-align: center;
        margin: 15px;
    }
    img{
        height: 55px;
    }
    &__visal{
        margin-top:15px;
    }
    border: none;
    &:hover, &:active, &:visited, &:focus{
        text-decoration: none;
        border: none;
    }
}