.adres {
    padding: 20px;
    padding-bottom: 0;
    width: 350px;
    & &__heading {
        text-align: center;
        background-color: transparent;
        border: 0;
        margin-bottom: 10px;
        img {
            height: 35px;
        }
    }
    ul {
        li {
            padding: 2px 0;
        }
    }
}

.contact-block {
    //    padding: 30px 20px;
    text-align: center;
    display: table;
    //    padding:50px;
    height: 250px;
    width: 100%;
    &__icon {
        color: $brand-secondary;
        font-size: 40px;
    }
    &__heading {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.000em;
    }
    &__text {
        font-weight: 300;
        a {
            text-decoration: none;
        }
    }
    hr {
        width: 35px;
        //        border-color: red;
        //        border-bottom: 3px solid color $gray-darker;
        border-color: $gray-darker;
        border-width: 3px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .wrapping {
        display: table-cell;
        vertical-align: middle;
    }
    &--testimonial {
        padding: 90px 100px 50px;
        @media (max-width: $screen-sm-max) {
             padding: 90px 50px 50px;
        }
        .contact-block__text{
            font-style: italic;
        }
        .contact-block__heading{
            margin: 12px 0;
            small{
              color: inherit;
                font-size: 0.813em;
            }
        }
        figure {
            position: absolute;
            //    width: 76px;
            //    height: 76px;
            top: -18%;
            left: 50%;
            border-radius: 100%;
            overflow: hidden;
            -webkit-transform: translate(-50%, 18%);
            transform: translate(-50%, 18%);
            background-color: $brand-secondary;
            img {
                width: 80px !important;
            }
        }
        
        
    }
}

.owl-stage{
    padding: 50px 0 10px;
}