/*
 * jobs
 */

.offer {}

.joboffer {
    border-radius: 0;
    padding-left: 0;
    border: 0;
    list-style-type: none;
    &--header {
        background-color: $brand-secondary;
        text-transform: uppercase;
        font-weight: bold;
        color: $gray-base;
        font-size: 1.250em;
        margin-bottom: 10px;
        @media (max-width: $screen-sm-max) {
            font-size: inherit;
        }
        @media (max-width: $screen-xs-max) {
            display: none;
        }
        .left {
//            padding-left: 95px;
            padding-left: 25px;
        }
    }
    &__item {
        background-color: $light-lighter;
        margin-bottom: 5px;
        box-shadow: none;
        border-radius: 0;
        @media (max-width: $screen-sm-max) {
            border: 1px solid $light;
        }
        &:hover {
            -webkit-box-shadow: inset 0px 0px 0px 2px $brand-secondary;
            -moz-box-shadow: inset 0px 0px 0px 2px $brand-secondary;
            box-shadow: inset 0px 0px 0px 2px $brand-secondary;
            transition: all 0.5s ease 0s;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            transition-delay: 0s;
            -webkit-transition: all 0.5s ease 0s;
            -moz-transition: all 0.5s ease 0s;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
        }
        &--mobiel {
            &:nth-child(2n+2) {
                @media (max-width: $screen-sm-max) {
                    background-color: $gray-base;
                }
            }
        }
    }
    &__link {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .resize {
        &__item {
            color: $brand-secondary--dark;
            font-weight: 600;
            &--space {
                @media (max-width: $screen-xs-max) {
                    padding-left: 89px;
                }
                @media (max-width: 417px) {
                    padding-left: 15px;
                }
            }
        }
    }
}

.media {
    display: table;
    width: 100%;
    @media (max-width: $screen-xs-max) {
        border-bottom: 2px solid $gray-base;
        display: inherit;
        padding-bottom: 10px;
    }
    @media (max-width: $screen-xs-max) {
        border-bottom: 2px solid $gray-base;
        display: inherit;
    }
    &-left {
        display: table-cell;
        vertical-align: middle;
        img {
            width: 64px;
            height: 64px;
        }
    }
    &-body {
        display: table-cell;
        vertical-align: middle;
        &--heading {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.250em;
            color: $gray-darker;
        }
        &--content {
            color: $brand-secondary--dark;
            margin: 0;
        }
    }
}