/*
* Logo
*/
//.logo {
//  display: block;
//  width: 100%;
//    padding: 20px;
//     @media (max-width: $screen-sm) {
//        width: 80px;
//         padding: 0;
//         margin: 0 auto;
//    }
//}