/*
* Colors
*/

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$brand-primary:         #3b5463; //blue ish
//$brand-secondary:       #e5ae3b !default; //geen oranje
$brand-secondary:       #B19B59 !default; //geen oranje

$brand-secondary--darker:           #2b2b2b;
$brand-secondary--dark:            #8c92a9;


$light:                 #e3dfdf;
$light-lighter:         #ffffff;

$gray-base:              #f8f8f8;
$gray-darker:            #61646d;
$gray-darkest:           #2b2b2b !default;    // #222
//$gray-dark:              #9B9B9B !default;    // #333
//$gray:                   #D8D8D8 !default;    // #555
//$gray-light:             #E6E6E6 !default;    // #777
//$gray-lighter:           #F1F1F1;



$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$text-color:            $brand-primary !default;
$link-color:            $brand-primary !default;
//$link-hover-color:      darken($link-color, 15%) !default;


