/*
* Components
*/



//==margin-top
$spacing-top-structure:                                                  -50px !default;        



//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    auto !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             none !default;
$navbar-collapse-max-height:       auto !default;

// Navbar links
$navbar-default-link-color:                $light-lighter !default;
$navbar-default-link-hover-color:          none !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         none !default;
$navbar-default-link-active-bg:            none !default;



// Navbar toggle
$navbar-default-toggle-hover-bg:           none !default;
$navbar-default-toggle-icon-bar-bg:        none !default;
$navbar-default-toggle-border-color:       none !default;


//== Buttons

$btn-default-color:              $light-lighter !default;
$btn-default-bg:                 $brand-secondary !default;
$btn-default-border:             darken($brand-secondary, 5%) !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         none !default;
$btn-border-radius-large:        none  !default;


//== Thumbnails
//
//##

$thumbnail-border-radius:     0 !default;
$thumbnail-border:            none !default;

//== Panels
//
//##

$panel-bg:                    transparent !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-border-radius:         0 !default;