/*
* font
*/





//== Typography
//$link-hover-decoration:                        underline !default;
//Montserrat
//$font-family-light:                            "Montserrat-light", sans-serif;
//$font-family-regular:                          "Montserrat-regular", sans-serif;
//$font-family-semibold:                         "Montserrat-semibold", sans-serif;

//Playfair Display
//$font-family-highlight-regular:                "Playfair-Regular", serif;
//$font-family-highlight-italic:                 "Playfair-Italic", serif;


//$font-family-base:                             $font-family-regular;
$font-size-base:                               17px !default;
$font-size-lead:                               22px !default;
//$font-size-large:                            ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-small:                            ceil(($font -size-base * 0.85)) !default; // ~12px
//
$font-size-h1:                                 1.5em;
//$font-size-h1:                                 30px;
$font-size-h2:                                 30px;
$font-size-h3:                                 22px;

$font-size-base:                               14px !default;
$font-size-large:                              ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:                              ceil(($font-size-base * 0.85)) !default; // ~12px

h1{
//    font-size: 1.5em !important;
}