  .nav-icon {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      //  margin: 0 auto;
      width: 45px;
      height: 40px;
      z-index: 30;
      /* Bring icon ontop of overlay */
      cursor: pointer;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      padding-top:10px;
      &__block {
          display: block;
          position: relative;
          margin-top: -20px;
      }
      span {
          z-index: 50;
          position: absolute;
          display: block;
          width: 100%;
          height: 4px;
          background: $brand-secondary;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
          &:nth-child(1) {
              top: 0px;
          }
          &:nth-child(2) {
              //              top: 18px;
              top: 12px;
          }
          &:nth-child(3) {
              //              top: 36px;
              top: 25px;
          }
      }
      &.animate-icon span {
          &:nth-child(1) {
              top: 18px;
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
          }
          &:nth-child(2) {
              opacity: 0;
              left: -60px;
          }
          &:nth-child(3) {
              top: 18px;
              -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
          }
      }
  }
  


   
     html,
        body {
            height: 100%;
            overflow-x: inherit !important;
            overflow-y: inherit !important;
        }
        
        .navbar-header {
            width: 100%
        }
        
        .navbar-toggle {
            float: right;
            margin-left: 15px;
        }
        
        .navmenu {
            z-index: 1;
        }
        
        .canvas {
            position: relative;
            left: 0;
            z-index: 2;
            min-height: 100%;
//            padding: 50px 0 0 0;
            background: #fff;
        }
        
        @media (min-width: 0) {
            .navbar-toggle {
                display: block;
                /* force showing the toggle */
            }
        }
        
        @media (min-width: 992px) {
            body {
                padding: 0;
            }
            .navbar {
                /*    right: auto;*/
                background: none;
                border: none;
            }
            .canvas {
                padding: 0;
            }
        }
        .navmenu-fixed-left,
.navmenu-fixed-right,
.navbar-offcanvas {
  overflow-y: visible;
}


.navbar .navbar-default .navbar-fixed-top .canvas-slid{
        right: initial !important;
    left: initial !important;
}
