/*
* scrolldown
*/

//.navbar-default {
//    transition: 500ms ease;
//    background: transparent;
//    border: none !important;
//    height: auto;
//    &.scrolled {
//        background: #2b2b2b;
//    }
//}
.navbar-default {
    transition: 500ms ease;
    background: transparent;
    border: none !important;
    height: auto;
    .nav-icon__block{
        span{
//             background-color: purple ;
        }
    }
    &.scrolled {
        background: $gray-darkest;
//        border-bottom: 10px solid $brand-secondary !important;
          .nav-icon__block{
        span{
//             background-color: red;
        }
    }
    }
}