.navbar {
    //    padding: 50px 0 20px;
    padding: 20px 0;
    &-brand {
        position: relative;
        z-index: 30;
        display: table-cell;
        vertical-align: middle;
        float: initial;
        margin: 0;
        img {
            @media (max-width: $screen-xs-max) {
                width: 70%;
            }
        }
    }
    &-header {
        display: table;
        width: 100%;
        //        height: 200px;
        //        background-color: rosybrown;
        padding: 0 25px;
        @media (max-width: 767px) {
            width: 100vw;
            padding: 25px;
        }
    }
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 13px;
}

//
//.navbar-collapse{
//    margin-top: 20px;
//    border: 0;
//    box-shadow: none;
//}

.navmenu-default .navmenu-nav>li>a{
    color:$brand-secondary;
    font-size:20px; 
        &:hover{
            color:#ffffff;
            }
}

.navmenu-fixed-right{
    background-color: $gray-darkest;
    border: none;
}