.caption {
    &--center {
        text-align: center;
    }
    img{
        height: 140px;
    }
    &--lead {
        .caption__titel {
            margin-bottom: 5px;
            margin-top: 5px;
            @media (max-width: $screen-xs-max) {
                font-size: 1.563em;
            }
            &--small {
                @media (max-width: $screen-xs-max) {
                    font-size: 1.125em;
                }
            }
        }
    }
    &__titel {
        font-size: 2.500em;
        font-weight: bold;
        margin-bottom: 30px;
        &--accent {
            color: $brand-secondary;
        }
        &--small {
            font-size: 1.563em;
            font-weight: bold;
            margin: 0;
        }
    }
    &__content {
        color: $brand-secondary--dark;
        line-height: 1.6;
        font-weight: 300;
    }
    &__visual {
        margin-top: 30px;
    }
}