/*
* Content
*/

.content {
    display: block;
    margin: 0 auto;
    &--small {
        width: 50%;
        @media (max-width: $screen-sm-max) {
            width: 60%;
            padding: 10px;
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
            padding: 10px;
        }
    }
    &--normal {
        padding-left: 40px;
        .content__header {
            font-size: 4.063em;
        }
        .content__text {
            margin: 20px 0;
            @media (max-width: $screen-xs-max) {
                padding: 0;
            }
        }
        @media (max-width: $screen-sm-max) {
            padding-left: 0;
            padding-top: 30px;
        }
    }
    &__header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 5.000em;
        color: $brand-secondary;
        line-height: 0.8;
        @media (max-width: $screen-sm-max) {
            font-size: 4.375em;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 3.125em;
            line-height: 0.8;
        }
    }
    &__subheader {
        text-transform: uppercase;
        font-weight: 300;
        color: $light-lighter;
        font-size: 4.375em;
        line-height: 0.3;
        @media (max-width: $screen-sm-max) {
            font-size: 3.750em;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 2.500em;
        }
    }
    &__text {
        color: $light-lighter;
        margin: 50px 0;
        font-size: 1.250em;
        font-weight: 300;
        line-height: 1.5;
        strong {
            color: $brand-secondary;
        }
        @media (max-width: $screen-xs-max) {
            margin: 20px 0;
            padding: 0 50px;
        }
    }
}