/*
* Content
*/

.h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 2.500em;
    color:$brand-secondary;
//    margin-bottom: 60px;
    &--accent{
        color:$light-lighter;
    }
    &--margin-bottom{
        margin-bottom:42px; 
    }
}